datasets/
data/
cryptic-finetuning/
share/
data-old/
seq2pocket_venv/
*.pyc
data
tutorial/__pycache__
3di_sequence
src/pLM-training/logs/
src/stats/hull-compactness/inference/logs
src/stats/hull-compactness/logs
src/stats/hull-compactness/results-*.json
src/stats/old
src/stats/clustering-hyperparam-sweep/logs
src/data-extraction/train-test-identity-filtering/logs
src/stats/clustering-hyperparam-sweep/val_predictions_cache.pkl
src/stats/table3-repro/*.pkl