datasets/
data/
cryptic-finetuning/
share/
data-old/
seq2pocket_venv/
*.pyc
data
tutorial/__pycache__
3di_sequence
src/pLM-training/logs/
src/stats/rog-compactness/inference/logs
src/stats/rog-compactness/logs
src/stats/rog-compactness/results-*.json
src/stats/old
src/stats/clustering-hyperparam-sweep/logs